.estilo{
    min-height: 100vh; 
    background-color: #f0eeee;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.icono{
cursor:pointer;
}
.foto{
    border-radius: 50%;
}
/* .categoria{
 ///   
} */

.bg{
    background-image:url(../img/f3.jpg);
    background-position:center;
}

.scroll{
    overflow-y: auto ;
   max-height: 300px ;
   }

   .destacar{
       border-color: blue;
   }

   

